<config xmlns="http://www.xquerrail-framework.com/config">
    <routes resource="/_config/routes.xml"/>
    
    <dispatcher resource="/_framework/dispatchers/dispatcher.web.xqy"/>
    
    <default-controller name="default"/>
    <controller-suffix value="-controller"/>
    <controller-scripts-directory value="/resources/scripts/"/>
    
    <model-suffix value="-model"/>
    
    <library-suffix value="-lib"/>
    
    <anonymous-user value="anonymous-user"/>
    
    <!--Register Default Values for engine-->
    <default-engine value="engine.html"/>
    <default-format value="html"/>
    <default-application value="application"/>
    
    <!--Register Your Application Here-->
    <application name="application" namespace="http://www.xquerrail-framework.com/demo" uri="/application">
        <domain resource="/application/domains/application-domain.xml" />
    </application>
    <!--Interceptors-->
    <interceptors>
        <interceptor name="security" resource="/_framework/interceptors/interceptor.logging.xqy" 
            before-request="true" after-request="true" before-response="true" after-response="true"
        />
        <interceptor name="logging" resource="/_framework/interceptors/interceptor.logging.xqy" 
            before-request="true" after-request="true" before-response="true" after-response="true"
        />
        <interceptor name="profiler" resource="/_framework/interceptors/interceptor.profiler.xqy" 
            before-request="true" after-request="true" before-response="true" after-response="true"
        />
    </interceptors>
</config>