<config xmlns="http://www.xquerrail-framework.com/config">
    <!--Configurations-->
    <routes-config  resource="/_config/routes.xml"/>
    <routing-module resource="/_framework/routing.xqy"/>
    
    <interceptor-config resource="/_config/interceptor.xml"/>
    <interceptor-module resource="/_framework/interceptor.xqy"/>
    
    <environment-config resource="/_config/env.xml"/>
    
    <plugin-config resource="/_config/plugin.xml"/>
    
    
    <controller-scripts-directory value="/resources/scripts"/> 
    <controller-stylesheet-directory value="/resources/stylesheets"/>
    
    <error-handler resource="/_framework/error.xqy"/>    
    
    <!--Suffix Configuration-->
    <controller-suffix value="-controller"/>
    <model-suffix value="-model"/>
    <library-suffix value="-lib"/>

    <anonymous-user value="anonymous-user"/> 
    
    <dispatcher resource="/_framework/dispatchers/dispatcher.web.xqy"/>
    
    <!--Register Default Values for engine-->
    <default-engine value="engine.html"/>
    <default-application value="application"/>
    <default-controller value="default"/> 
    <default-action value="index"/>    
    <default-format value="html"/>
    <default-template-directory resource="/_framework/base/views/"/>
    <default-view-directory resources="/_framework/base/templates/"/>    
    
    <!--Register Your Application Here-->
    <application name="application" namespace="http://www.xquerrail-framework.com/demo" uri="/application">
        <domain resource="/application/domains/application-domain.xml" />
        <script-directory value="/application/scripts"/>
        <stylesheet-directory value="/application/stylesheets"/>
    </application>
    

    <!--Interceptors-->
    <interceptors config="/_config/interceptor.xml">
        <interceptor 
            name="ml-security" 
            resource="/_config/ml-security.xml"
            before-request="false" 
            after-request="true" 
            before-response="false" 
            after-response="false"
        />
    </interceptors>
</config>