<routes xmlns="http://www.xquerrail-framework.com/routing">
  <route id="_welcome" pattern="^/$">
    <default key="controller">application:default:index</default>	
  </route>
   <route id="_login" pattern="/login.html">
      <default key="controller">application:default:logout:html</default>	
   </route>          
   <route id="_logout" pattern="/logout.html">
      <default key="_controller">application:default:logout:html</default>	
   </route>
   <route id="_dashboard" pattern="/dashboard/index?">
      <default key="_controller">application:default:index:html</default>
      <require key="_method">post</require>
   </route>
   
   <!--
  <route pattern="/(.*[^/]).html">
     <default key="_controller">application:default:$1</default>>
     <format>html</format>
  </route>-->
</routes>