<routes xmlns="http://www.xquerrail-framework.com/routing">
   <route id="_resources" pattern="^/resources/*" is-resource="true">
      <prepend></prepend>
   </route>
   <route id="_xray" pattern="^/xray(.*)" is-resource="true">
       <to>/lib/xray/index.xqy</to>
   </route>
   <!--Default Controller Routes-->   
   <route id="_default" pattern="^/(index\.html)?$">
      <default key="_controller">application:default:index:html</default>      
   </route>
   <route id="_logout" pattern="^/(logout\.html)?$">
      <default key="_controller">application:default:logout:html</default>      
   </route>
   <route id="_search" pattern="^/(search\.html)?$">
      <default key="_controller">application:default:search:html</default>      
   </route>   
   <!--Default Routes-->
   <route id="controller_index" pattern="^/(\i\c*)/?$">
      <default key="_controller">application:$1:index:html</default>      
   </route>
   <route id="controller_index_format" pattern="^/(\i\c*)/(\i\c*)(\.xml|\.json|\.html)$">
      <default key="_controller">application:$1:$2:$3</default>      
   </route>   
   <route id="controller_default_get" pattern="^/(.*[^/])/(\i\c*[^/])(\.xml|\.json|\.html)$" method="get">
      <default key="_controller">application:$1:get:$3</default>
   </route>
   
   <route id="controller_default_update" pattern="^/(.*[^/])/(\i\c*[^/])(\.xml|\.json|\.html)$" method="post">
      <default key="_controller">application:$1:update:$3</default>
   </route>   
   
   <route id="controller_default_delete" pattern="^/(\i\c*)/(\i\c*[^/])\.(json|html)$" method="delete">
      <default key="_controller">application:$1:delete:$3</default>
   </route> 
   
   <route id="controller_default_create" pattern="^/(.*[^/])/(\i\c*[^/])\.(json|html)$" method="put">
      <default key="_controller">application:$1:put:$3</default>
   </route> 
   <route id="controller_default_action" pattern="^/(\i\c*[^/])/(\i\c*[^/])(\.json|\.html|\.xml)?$" method="post">
      <default key="_controller">application:$1:$2:$3</default>
   </route>   
</routes>
